body {background-color: #717A77;}
.login {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
}
.login h3 {
		text-align: center;
		font-size: 40px;
		font-family: sans-serif;
		color: white;
}
.login input {
		display: inline-block;
		width: 300px;
		height: 30px;
		padding: 10px;
		font-size: 15px;
		font-family: sans-serif;
		background-color: black;
		border: 1px solid white;
		color: yellow;

}
.radio-inline {
		top: 51%;
		left: 21%;
		position: absolute;
		transform: translate(400%,400%);
}










